@layer components {
    .container {
        @apply mx-auto max-w-4xl px-4 sm:px-6 lg:px-8;
    }

    .flex-center {
        @apply flex items-center justify-center;
    }

    .absolute-center {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transform;
    }
}
